{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add Book{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Add a new book into the database</h1>

      {{ render_form(form, novalidate=True) }}

      <p></p>
        <a class="btn btn-primary btn-lg btn-block btn-space" role="button"
             href="{{url_for('home')}}">Main Menu</a>
    </div>
  </div>
</div>

{% endblock %}